<form [formGroup]="registerForma" (ngSubmit)="enviarRegistro()">
    <p-card header="Registrar Nuevo Usuario" [style]="{width: '360px'}">
        <div class="flex flex-column gap-2">
            <label for="text">Nombre Completo</label>
            <input 
                pInputText
                id="fullName"
                name="fullName"
                aria-describedby="fullName"
                formControlName="fullName" 
                placeholder= "Ingresar nombre completo"/>
        </div>
        <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="block p-error">
            <div *ngIf="fullName.errors?.['required']">Nombre es requerido.</div>
            <div *ngIf="fullName.errors?.['pattern']">El nombre debe ser valido.</div>
        </small>

        <div class="field">
            <label for="email">Correo Electronico</label>
            <input 
            type="text" 
            pInputText
            formControlName = "email"
            name="email"
            class="w-full"
            placeholder="Ingresa el email"
            />
        </div>

        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
            <div *ngIf="email.errors?. ['required']">Email es Requerido.</div>
            <div *ngIf="email.errors?. ['email']">Email debera ser valido.</div>
        </small>

        
        <div class="field">
            <label for="password">Contraseña</label>
            <input 
            type="password" 
            pInputText
            formControlName = "password"
            name="password"
            class="w-full"
            placeholder="Ingresa contraseña"
            />
        </div>

        <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
            <div *ngIf="password.errors?.['required']">La contraseña es requerida.</div>
            <div *ngIf="password.errors?.['minlength']">La contraseña debe tener al menos 8 caracteres.</div>
            <div *ngIf="password.errors?.['pattern']">La contraseña debe tener al menos una letra minúscula, una mayúscula y un carácter especial.</div>
        </small>

        <div class="field">
            <label for="confirmPassword">Confirmar Contraseña</label>
            <input 
                type="password"
                pInputText
                formControlName="confirmPassword"
                name="confirmPassword"
                class="w-full"
                placeholder="Confirma Contraseña"
            />
        </div>
        <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="block p-error">
            <div *ngIf="confirmPassword.errors?.['required']">La contraseña es requerida.</div>
            <div ></div>
        </small>
     
        <small class="block p-error" *ngIf="registerForma.hasError('passwordMismatch') && confirmPassword.valid && password.valid">
            Contraseñas no coinciden
        </small>

        <p-button label="Registrar" styleClass="w-full" [disabled]="registerForma.invalid" type="submit"></p-button>
        <div class="mt-2">
            ¿Ya tienes cuenta? <a routerLink="/login">Ingresar</a>
        </div>
    </p-card>
</form>